.instant-opinion {
    box-sizing: border-box;
    position: fixed;
    bottom: 50px;
    right: 0;
    z-index: 9999;

    height: auto;

    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;

    padding: 5px 10px 5px 12px;

    box-shadow: 0 0 5px 5px rgba(0,0,0,0.5);
}

.instant-opinion.hide_kinda {
    transition-duration: 1s;
    margin-right: -130px;
}

.instant-opinion .instant-opinion-percent {
    font-size: 14px;
    font-family: Arial, sans-serif;
    color: white;
    line-height: 16px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    text-align: center;
    font-weight: bold;
    margin: 2px;
}

.instant-opinion .instant-opinion-progress {
    background-color: red;
    user-select: none;
    height: 18px;
    position:relative;
    border-radius: 5px;
    overflow: hidden;
    margin-left: 5px;
}

.instant-opinion .instant-opinion-progress .instant-opinion-progress-progress {
    height: 100%;
    background-color: green;
}

.instant-opinion .instant-opinion-dropdown.show_happy {
    display: block;
}

.instant-opinion.hide_kinda:hover {
    margin-right: 0;
}

.instant-opinion * {
    box-sizing: border-box;
}

.instant-opinion .instant-opinion-opinion .instant-opinion-thumbs {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.instant-opinion .instant-opinion-opinion svg {
    height: 40px;
    width: 40px;
}

.instant-opinion .instant-opinion-opinion span {
    display: inline-block;
}

.instant-opinion .instant-opinion-explainer {
    font-family: Arial, sans-serif;
    text-align: center;
    padding-left: 5px;
    font-size: 14px;
    user-select: none;
    margin: 0;
}

.instant-opinion .instant-opinion-dropdown p {
    font-family: Arial, sans-serif;
    text-align: left;
    font-size: 14px;
    margin: 0;
}

.instant-opinion .instant-opinion-dropdown p a {
    color: dodgerblue;
    text-decoration: none;
}

.instant-opinion .instant-opinion-dropdown p a:visited {
    color: dodgerblue;
}

@media screen and (max-width: 600px) {
    .instant-opinion {
        display: none;
    }
}